section.search_results {
    article {
        margin-bottom: 1em;
        font-size: 0.8em;
        a {
            display: block;
            font-size: 1.4em;
        }
        p.result_type {
            margin: 0;
            color: #a5adb2;
        }
        span.result {
            background-color: #e7ebf1;
        }
    }
}

.intelligentsearch {
    display: none;
}

div.pagination {
    font-size: 1.4em;
    a.current {
        background-color: #e7ebf1;
        font-weight: bold;
    }
}