section.search_results article {
  margin-bottom: 1em;
  font-size: 0.8em;
}
section.search_results article a {
  display: block;
  font-size: 1.4em;
}
section.search_results article p.result_type {
  margin: 0;
  color: #a5adb2;
}
section.search_results article span.result {
  background-color: #e7ebf1;
}
section.search_results article div.avatar {
  display: none;
}
.intelligentsearch {
  display: none;
}
