section.search_results article {
  margin-bottom: 1em;
  font-size: 0.8em;
}
section.search_results article a {
  display: block;
  font-size: 1.4em;
}
section.search_results article p.result_type {
  margin: 0;
  color: #a5adb2;
}
section.search_results article span.result {
  background-color: #e7ebf1;
}
section.search_results article hr {
  border: 0;
  border-top: 1px solid;
  color: #e7ebf1;
}
section.search_results article p.avatar {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 0.6em;
  margin-bottom: 0;
  padding-top: 0.4em;
}
section.search_results article p.avatar img.course-avatar-medium {
  max-width: 32px;
  height: 32px;
}
section.search_results article p.avatar img.avatar-medium {
  max-width: 32px;
  height: 32px;
}
section.search_results article p.avatar img.original {
  width: 32px;
  height: 32px;
}
.intelligentsearch {
  display: none;
}
div.pagination {
  font-size: 1.4em;
  padding: 5px 5px 5px 8px;
}
div.pagination a.current {
  background-color: #e7ebf1;
  font-weight: bold;
  padding: inherit;
}
